In [ ]:
create database test1;

use test1;







CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

INSERT INTO Persons (PersonID, LastName, FirstName, Address, City)
VALUES (1, 'Tom B.', 'Erichsen1', 'Stavanger1', 'Norway1');
INSERT INTO Persons (PersonID, LastName, FirstName, Address, City)
VALUES (2, 'Tom B.', 'Erichsen2', 'Stavanger2', 'Norway2');
INSERT INTO Persons (PersonID, LastName, FirstName, Address, City)
VALUES (3, 'Tom B.', 'Erichsen3', 'Stavanger3', 'Norway3');